#### Exploratory data analysis

In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load dataset

In [4]:
df = pd.read_csv('../data/Copy of BrentOilPrices.csv')

In [5]:
df.head(10)

        Date  Price
0  20-May-87  18.63
1  21-May-87  18.45
2  22-May-87  18.55
3  25-May-87  18.60
4  26-May-87  18.63
5  27-May-87  18.60
6  28-May-87  18.60
7  29-May-87  18.58
8  01-Jun-87  18.65
9  02-Jun-87  18.68

In [6]:
df.tail(10)

              Date  Price
9001  Nov 01, 2022  95.12
9002  Nov 02, 2022  96.07
9003  Nov 03, 2022  95.29
9004  Nov 04, 2022  99.53
9005  Nov 07, 2022  99.87
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59